.Home {
  width: 1600;
  margin-top: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid lightgray;
  font-weight: 400;
  font-size: 30px;
  font-family: "Great Vibes", cursive;
}


#footer{  
  position:absolute;  
  bottom:0;  
  padding:10px0;  
  width:100%;  
 }